body {
  margin: 0;
}

.navbar {
  height: 100 px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  background-color: royalblue;
  justify-content: center;
}

.joke-q {
  height: 20 px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 15px;
  background-color: rgba(38, 218, 32, 0.568);
  justify-content: left;
}

.joke-a {
  height: 20 px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 15px;
  background-color: rgba(218, 32, 32, 0.568);
  justify-content: left;
}

.headerc {
  background-color: red;
}
